<component name="ArtifactManager">
  <artifact type="exploded-war" name="spring_mvc:war exploded">
    <output-path>$PROJECT_DIR$/spring_ioc/artifacts/spring_mvc_war_exploded</output-path>
    <root id="root">
      <element id="directory" name="WEB-INF">
        <element id="directory" name="classes">
          <element id="module-output" name="spring_mvc" />
        </element>
        <element id="directory" name="lib">
          <element id="library" level="project" name="Maven: org.springframework:spring-webmvc:5.1.6.RELEASE" />
          <element id="library" level="project" name="Maven: org.springframework:spring-aop:5.1.6.RELEASE" />
          <element id="library" level="project" name="Maven: org.springframework:spring-beans:5.1.6.RELEASE" />
          <element id="library" level="project" name="Maven: org.springframework:spring-core:5.1.6.RELEASE" />
          <element id="library" level="project" name="Maven: org.springframework:spring-jcl:5.1.6.RELEASE" />
          <element id="library" level="project" name="Maven: org.springframework:spring-expression:5.1.6.RELEASE" />
          <element id="library" level="project" name="Maven: org.springframework:spring-web:5.1.6.RELEASE" />
          <element id="library" level="project" name="Maven: mysql:mysql-connector-java:8.0.23" />
          <element id="library" level="project" name="Maven: com.google.protobuf:protobuf-java:3.11.4" />
          <element id="library" level="project" name="Maven: c3p0:c3p0:0.9.1.1" />
          <element id="library" level="project" name="Maven: com.alibaba:druid:1.1.19" />
          <element id="library" level="project" name="Maven: org.springframework:spring-context:5.0.5.RELEASE" />
          <element id="library" level="project" name="Maven: javax.annotation:jsr250-api:1.0" />
          <element id="library" level="project" name="Maven: org.wildfly.swarm:spring-test:1.0.0.Final" />
          <element id="library" level="project" name="Maven: org.wildfly.swarm:spring:1.0.0.Final" />
          <element id="library" level="project" name="Maven: org.wildfly.swarm:spring-api:1.0.0.Final" />
          <element id="library" level="project" name="Maven: org.wildfly.swarm:container:1.0.0.Final" />
          <element id="library" level="project" name="Maven: org.wildfly.swarm:container-api:1.0.0.Final" />
          <element id="library" level="project" name="Maven: org.yaml:snakeyaml:1.17" />
          <element id="library" level="project" name="Maven: org.wildfly.swarm:spring-modules:1.0.0.Final" />
          <element id="library" level="project" name="Maven: org.wildfly.swarm:bootstrap:1.0.0.Final" />
          <element id="library" level="project" name="Maven: org.jboss.spec.javax.sql:jboss-javax-sql-api_7.0_spec:2.0.0.Final" />
          <element id="library" level="project" name="Maven: org.wildfly.swarm:container-modules:1.0.0.Final" />
          <element id="library" level="project" name="Maven: org.wildfly.swarm:config-api:0.4.3" />
          <element id="library" level="project" name="Maven: org.wildfly.swarm:config-api-runtime:0.4.3" />
          <element id="library" level="project" name="Maven: org.wildfly.swarm:config-api-modules:0.4.3" />
          <element id="library" level="project" name="Maven: org.wildfly.swarm:undertow-modules:1.0.0.Final" />
          <element id="library" level="project" name="Maven: org.wildfly.swarm:logging-modules:1.0.0.Final" />
          <element id="library" level="project" name="Maven: org.wildfly.swarm:io-modules:1.0.0.Final" />
          <element id="library" level="project" name="Maven: org.wildfly.swarm:ee-modules:1.0.0.Final" />
          <element id="library" level="project" name="Maven: org.wildfly.swarm:undertow:1.0.0.Final" />
          <element id="library" level="project" name="Maven: org.wildfly.swarm:undertow-api:1.0.0.Final" />
          <element id="library" level="project" name="Maven: org.wildfly.swarm:spi-api:1.0.3.Final" />
          <element id="library" level="project" name="Maven: org.jboss.shrinkwrap:shrinkwrap-api:1.2.5" />
          <element id="library" level="project" name="Maven: org.jboss.shrinkwrap:shrinkwrap-impl-base:1.2.5" />
          <element id="library" level="project" name="Maven: org.jboss.shrinkwrap:shrinkwrap-spi:1.2.5" />
          <element id="library" level="project" name="Maven: org.jboss.shrinkwrap.descriptors:shrinkwrap-descriptors-api-jboss:2.0.0-alpha-9" />
          <element id="library" level="project" name="Maven: org.jboss.shrinkwrap.descriptors:shrinkwrap-descriptors-impl-jboss:2.0.0-alpha-9" />
          <element id="library" level="project" name="Maven: org.jboss.shrinkwrap.descriptors:shrinkwrap-descriptors-api-javaee:2.0.0-alpha-9" />
          <element id="library" level="project" name="Maven: org.jboss.shrinkwrap.descriptors:shrinkwrap-descriptors-api-base:2.0.0-alpha-9" />
          <element id="library" level="project" name="Maven: org.jboss.shrinkwrap.descriptors:shrinkwrap-descriptors-impl-javaee:2.0.0-alpha-9" />
          <element id="library" level="project" name="Maven: org.jboss.shrinkwrap.descriptors:shrinkwrap-descriptors-impl-base:2.0.0-alpha-9" />
          <element id="library" level="project" name="Maven: org.jboss.shrinkwrap.descriptors:shrinkwrap-descriptors-spi:2.0.0-alpha-9" />
          <element id="library" level="project" name="Maven: org.ow2.asm:asm-all:5.0.4" />
          <element id="library" level="project" name="Maven: org.jboss.spec.javax.websocket:jboss-websocket-api_1.1_spec:1.1.1.Final" />
          <element id="library" level="project" name="Maven: io.undertow:undertow-servlet:1.3.15.Final" />
          <element id="library" level="project" name="Maven: io.undertow:undertow-core:1.3.15.Final" />
          <element id="library" level="project" name="Maven: org.jboss.logging:jboss-logging:3.2.1.Final" />
          <element id="library" level="project" name="Maven: org.jboss.xnio:xnio-api:3.3.4.Final" />
          <element id="library" level="project" name="Maven: org.jboss.xnio:xnio-nio:3.3.4.Final" />
          <element id="library" level="project" name="Maven: org.jboss.spec.javax.annotation:jboss-annotations-api_1.2_spec:1.0.0.Final" />
          <element id="library" level="project" name="Maven: org.wildfly.swarm:io:1.0.0.Final" />
          <element id="library" level="project" name="Maven: org.wildfly.swarm:io-api:1.0.0.Final" />
          <element id="library" level="project" name="Maven: org.wildfly.swarm:ee:1.0.0.Final" />
          <element id="library" level="project" name="Maven: org.wildfly.swarm:ee-api:1.0.0.Final" />
          <element id="library" level="project" name="Maven: org.jboss.spec.javax.enterprise.concurrent:jboss-concurrency-api_1.0_spec:1.0.0.Final" />
          <element id="library" level="project" name="Maven: org.jboss.spec.javax.interceptor:jboss-interceptors-api_1.2_spec:1.0.0.Final" />
          <element id="library" level="project" name="Maven: org.jboss.spec.javax.el:jboss-el-api_3.0_spec:1.0.5.Final" />
          <element id="library" level="project" name="Maven: org.glassfish:javax.el-impl:3.0.1-b08-jbossorg-1" />
          <element id="library" level="project" name="Maven: org.wildfly.swarm:naming:1.0.0.Final" />
          <element id="library" level="project" name="Maven: org.wildfly.swarm:naming-api:1.0.0.Final" />
          <element id="library" level="project" name="Maven: org.wildfly.swarm:naming-modules:1.0.0.Final" />
          <element id="library" level="project" name="Maven: org.wildfly.swarm:request-controller:1.0.0.Final" />
          <element id="library" level="project" name="Maven: org.wildfly.swarm:request-controller-api:1.0.0.Final" />
          <element id="library" level="project" name="Maven: org.wildfly.swarm:request-controller-modules:1.0.0.Final" />
          <element id="library" level="project" name="Maven: com.fasterxml.jackson.core:jackson-core:2.9.3" />
          <element id="library" level="project" name="Maven: com.fasterxml.jackson.core:jackson-databind:2.9.3" />
          <element id="library" level="project" name="Maven: com.fasterxml.jackson.core:jackson-annotations:2.9.3" />
          <element id="library" level="project" name="Maven: commons-fileupload:commons-fileupload:1.3.2" />
          <element id="library" level="project" name="Maven: commons-io:commons-io:2.5" />
        </element>
      </element>
      <element id="javaee-facet-resources" facet="spring_mvc/web/Web" />
    </root>
  </artifact>
</component>